In [1]:
import yfinance as yf

import pandas as pd

In [2]:
df=pd.read_html('https://finance.yahoo.com/quote/%5EBSESN/components?p=%5EBSESN')[0]

In [3]:
tickers=df.Symbol.to_list()

In [4]:
tickers

['500010.BO',
 '532174.BO',
 '500790.BO',
 '532281.BO',
 '500180.BO',
 '532978.BO',
 '500209.BO',
 '532538.BO',
 '532977.BO',
 '524715.BO',
 '532898.BO',
 '532755.BO',
 '532215.BO',
 '500325.BO',
 '500875.BO',
 '532555.BO',
 '500820.BO',
 '532500.BO',
 '500247.BO',
 '500312.BO',
 '532454.BO',
 '500510.BO',
 '500114.BO',
 '500520.BO',
 '500124.BO',
 '500696.BO',
 '532540.BO',
 '500112.BO',
 '500034.BO',
 '532187.BO']

In [5]:
from bsedata.bse import BSE
b=BSE()

In [6]:
b.getQuote('532187')

{'companyName': 'INDUSIND BANK LTD.',
 'currentValue': '1039.75',
 'change': '-52.35',
 'pChange': '-4.79',
 'updatedOn': '05 Mar 21 | 04:00 PM',
 'priceBand': '',
 'securityID': 'INDUSINDBK',
 'scripCode': '532187',
 'group': 'A  / S&P BSE SENSEX',
 'faceValue': '10.00',
 'industry': 'Banks',
 'previousClose': '1092.10',
 'previousOpen': '1080.55',
 'dayHigh': '1084.05',
 'dayLow': '1025.60',
 '52weekHigh': '1119.20',
 '52weekLow': '235.60',
 'weightedAvgPrice': '1045.57',
 'totalTradedValue': '79.86 Cr.',
 'totalTradedQuantity': '7.64 Lakh',
 '2WeekAvgQuantity': '5.61 Lakh',
 'marketCapFull': '78,749.02 Cr.',
 'marketCapFreeFloat': '58,274.28 Cr.',
 'upperPriceBand': '',
 'lowerPriceBand': '',
 'buy': {'1': {'quantity': '-', 'price': '0.00'},
  '2': {'quantity': '-', 'price': '0.00'},
  '3': {'quantity': '-', 'price': '0.00'},
  '4': {'quantity': '-', 'price': '0.00'},
  '5': {'quantity': '-', 'price': '0.00'}},
 'sell': {'1': {'price': '0.00', 'quantity': '-'},
  '2': {'price': '0.00', 'quantity': '-'},
  '3': {'price': '0.00', 'quantity': '-'},
  '4': {'price': '0.00', 'quantity': '-'},
  '5': {'price': '0.00', 'quantity': '-'}}}

In [7]:
codes=[i[:-3] for i in tickers]
india = []
for i in codes:
    india.append(b.getQuote(i)['securityID'])

In [8]:
india

['HDFC',
 'ICICIBANK',
 'NESTLEIND',
 'HCLTECH',
 'HDFCBANK',
 'BAJAJFINSV',
 'INFY',
 'ULTRACEMCO',
 'BAJAJ-AUTO',
 'SUNPHARMA',
 'POWERGRID',
 'TECHM',
 'AXISBANK',
 'RELIANCE',
 'ITC',
 'NTPC',
 'ASIANPAINT',
 'MARUTI',
 'KOTAKBANK',
 'ONGC',
 'BHARTIARTL',
 'LT',
 'TITAN',
 'M&M',
 'DRREDDY',
 'HINDUNILVR',
 'TCS',
 'SBIN',
 'BAJFINANCE',
 'INDUSINDBK']

In [9]:
data =[i+'.NS' for i in india]

In [10]:
data

['HDFC.NS',
 'ICICIBANK.NS',
 'NESTLEIND.NS',
 'HCLTECH.NS',
 'HDFCBANK.NS',
 'BAJAJFINSV.NS',
 'INFY.NS',
 'ULTRACEMCO.NS',
 'BAJAJ-AUTO.NS',
 'SUNPHARMA.NS',
 'POWERGRID.NS',
 'TECHM.NS',
 'AXISBANK.NS',
 'RELIANCE.NS',
 'ITC.NS',
 'NTPC.NS',
 'ASIANPAINT.NS',
 'MARUTI.NS',
 'KOTAKBANK.NS',
 'ONGC.NS',
 'BHARTIARTL.NS',
 'LT.NS',
 'TITAN.NS',
 'M&M.NS',
 'DRREDDY.NS',
 'HINDUNILVR.NS',
 'TCS.NS',
 'SBIN.NS',
 'BAJFINANCE.NS',
 'INDUSINDBK.NS']

In [11]:
df=yf.download(data)

[*********************100%***********************]  30 of 30 completed

In [12]:
returns=df['Adj Close'].pct_change()

In [13]:
returns.dropna(inplace=True)

In [14]:
print(df)

               Adj Close                                          \
           ASIANPAINT.NS AXISBANK.NS BAJAJ-AUTO.NS BAJAJFINSV.NS
Date
1996-01-01           NaN         NaN           NaN           NaN
1996-01-02           NaN         NaN           NaN           NaN
1996-01-03           NaN         NaN           NaN           NaN
1996-01-04           NaN         NaN           NaN           NaN
1996-01-05           NaN         NaN           NaN           NaN
...                  ...         ...           ...           ...
2021-03-01   2362.300049  728.549988   3814.050049   9774.049805
2021-03-02   2390.399902  731.250000   3944.050049   9877.000000
2021-03-03   2402.100098  753.950012   3901.100098  10395.599609
2021-03-04   2417.100098  736.799988   3879.050049  10129.950195
2021-03-05   2387.100098  730.750000   3852.850098   9958.099609

                                                                              \
           BAJFINANCE.NS BHARTIARTL.NS   DRREDDY.NS  HCLTECH.NS      HDFC.NS
Date
1996-01-01           NaN           NaN    49.022575         NaN          NaN
1996-01-02           NaN           NaN    48.604893         NaN          NaN
1996-01-03           NaN           NaN    48.626877         NaN          NaN
1996-01-04           NaN           NaN    46.879208         NaN          NaN
1996-01-05           NaN           NaN    45.769058         NaN          NaN
...                  ...           ...          ...         ...          ...
2021-03-01   5266.799805    532.200012  4453.399902  930.349976  2606.000000
2021-03-02   5316.299805    541.200012  4404.700195  953.750000  2564.000000
2021-03-03   5542.899902    546.299988  4502.549805  965.250000  2654.899902
2021-03-04   5485.899902    539.599976  4575.049805  958.000000  2582.949951
2021-03-05   5444.899902    532.799988  4492.500000  941.500000  2543.899902

                         ...      Volume                           \
            HDFCBANK.NS  ...     NTPC.NS     ONGC.NS POWERGRID.NS
Date                     ...
1996-01-01     2.428210  ...         NaN     10800.0          NaN
1996-01-02     2.424136  ...         NaN     27000.0          NaN
1996-01-03     2.432283  ...         NaN     10800.0          NaN
1996-01-04     2.415987  ...         NaN     41400.0          NaN
1996-01-05     2.411913  ...         NaN     46800.0          NaN
...                 ...  ...         ...         ...          ...
2021-03-01  1558.900024  ...  27205189.0  41672980.0   17686096.0
2021-03-02  1568.199951  ...  53649872.0  36303917.0   10250883.0
2021-03-03  1586.849976  ...  31702057.0  19434630.0   10884683.0
2021-03-04  1552.050049  ...  28057179.0  38272786.0   12861986.0
2021-03-05  1530.000000  ...  24778407.0  57756103.0    9755263.0

                                                                        \
            RELIANCE.NS     SBIN.NS SUNPHARMA.NS     TCS.NS   TECHM.NS
Date
1996-01-01   48051995.0  43733533.0      38730.0        NaN        NaN
1996-01-02   77875009.0  56167280.0      77460.0        NaN        NaN
1996-01-03   96602936.0  68296318.0      12910.0        NaN        NaN
1996-01-04  100099436.0  86073880.0      64550.0        NaN        NaN
1996-01-05   76935930.0  76613039.0      12910.0        NaN        NaN
...                 ...         ...          ...        ...        ...
2021-03-01    8159670.0  29677890.0    5274758.0  3265871.0  3429569.0
2021-03-02    7915073.0  30534337.0    4776776.0  3306469.0  3703190.0
2021-03-03   14733134.0  46268223.0    6626297.0  3509857.0  3203532.0
2021-03-04    9892597.0  43603653.0   11530735.0  3916760.0  5134954.0
2021-03-05   11773630.0  72179228.0    6127488.0  3203686.0  2618145.0


             TITAN.NS ULTRACEMCO.NS
Date
1996-01-01     4000.0           NaN
1996-01-02    24000.0           NaN
1996-01-03    22000.0           NaN
1996-01-04    46000.0           NaN
1996-01-05    20000.0           NaN
...               ...           ...
2021-03-01  1962042.0      609302.0
2021-03-02  1293306.0      438046.0
2021-03-03  1227772.0      467421.0
2021-03-04  1822476.0     1303144.0
2021-03-05  1954113.0     1828811.0

[6335 rows x 180 columns]

In [15]:
gfg_csv_data = df.to_csv('stockdata.csv', index = True)

In [16]:
df2=pd.read_html('https://finance.yahoo.com/quote/%5ENSEI/components?p=%5ENSEI')[0]
tickers2=df2.Symbol.to_list()

In [17]:
codes2=[i[:-3] for i in tickers]
india2 = []
for i in codes2:
    india2.append(b.getQuote(i)['securityID'])

In [18]:
india2

['HDFC',
 'ICICIBANK',
 'NESTLEIND',
 'HCLTECH',
 'HDFCBANK',
 'BAJAJFINSV',
 'INFY',
 'ULTRACEMCO',
 'BAJAJ-AUTO',
 'SUNPHARMA',
 'POWERGRID',
 'TECHM',
 'AXISBANK',
 'RELIANCE',
 'ITC',
 'NTPC',
 'ASIANPAINT',
 'MARUTI',
 'KOTAKBANK',
 'ONGC',
 'BHARTIARTL',
 'LT',
 'TITAN',
 'M&M',
 'DRREDDY',
 'HINDUNILVR',
 'TCS',
 'SBIN',
 'BAJFINANCE',
 'INDUSINDBK']

In [19]:
data =[i+'.NS' for i in india2]

In [20]:
tickers

['500010.BO',
 '532174.BO',
 '500790.BO',
 '532281.BO',
 '500180.BO',
 '532978.BO',
 '500209.BO',
 '532538.BO',
 '532977.BO',
 '524715.BO',
 '532898.BO',
 '532755.BO',
 '532215.BO',
 '500325.BO',
 '500875.BO',
 '532555.BO',
 '500820.BO',
 '532500.BO',
 '500247.BO',
 '500312.BO',
 '532454.BO',
 '500510.BO',
 '500114.BO',
 '500520.BO',
 '500124.BO',
 '500696.BO',
 '532540.BO',
 '500112.BO',
 '500034.BO',
 '532187.BO']

In [21]:
df2=yf.download(data)

[*********************100%***********************]  30 of 30 completed

In [22]:
df2

               Adj Close                                          \
           ASIANPAINT.NS AXISBANK.NS BAJAJ-AUTO.NS BAJAJFINSV.NS
Date
1996-01-01           NaN         NaN           NaN           NaN
1996-01-02           NaN         NaN           NaN           NaN
1996-01-03           NaN         NaN           NaN           NaN
1996-01-04           NaN         NaN           NaN           NaN
1996-01-05           NaN         NaN           NaN           NaN
...                  ...         ...           ...           ...
2021-03-01   2362.300049  728.549988   3814.050049   9774.049805
2021-03-02   2390.399902  731.250000   3944.050049   9877.000000
2021-03-03   2402.100098  753.950012   3901.100098  10395.599609
2021-03-04   2417.100098  736.799988   3879.050049  10129.950195
2021-03-05   2387.100098  730.750000   3852.850098   9958.099609

                                                                              \
           BAJFINANCE.NS BHARTIARTL.NS   DRREDDY.NS  HCLTECH.NS      HDFC.NS
Date
1996-01-01           NaN           NaN    49.022575         NaN          NaN
1996-01-02           NaN           NaN    48.604893         NaN          NaN
1996-01-03           NaN           NaN    48.626877         NaN          NaN
1996-01-04           NaN           NaN    46.879208         NaN          NaN
1996-01-05           NaN           NaN    45.769058         NaN          NaN
...                  ...           ...          ...         ...          ...
2021-03-01   5266.799805    532.200012  4453.399902  930.349976  2606.000000
2021-03-02   5316.299805    541.200012  4404.700195  953.750000  2564.000000
2021-03-03   5542.899902    546.299988  4502.549805  965.250000  2654.899902
2021-03-04   5485.899902    539.599976  4575.049805  958.000000  2582.949951
2021-03-05   5444.899902    532.799988  4492.500000  941.500000  2543.899902

                         ...      Volume                           \
            HDFCBANK.NS  ...     NTPC.NS     ONGC.NS POWERGRID.NS
Date                     ...
1996-01-01     2.428210  ...         NaN     10800.0          NaN
1996-01-02     2.424136  ...         NaN     27000.0          NaN
1996-01-03     2.432283  ...         NaN     10800.0          NaN
1996-01-04     2.415987  ...         NaN     41400.0          NaN
1996-01-05     2.411913  ...         NaN     46800.0          NaN
...                 ...  ...         ...         ...          ...
2021-03-01  1558.900024  ...  27205189.0  41672980.0   17686096.0
2021-03-02  1568.199951  ...  53649872.0  36303917.0   10250883.0
2021-03-03  1586.849976  ...  31702057.0  19434630.0   10884683.0
2021-03-04  1552.050049  ...  28057179.0  38272786.0   12861986.0
2021-03-05  1530.000000  ...  24778407.0  57756103.0    9755263.0

                                                                        \
            RELIANCE.NS     SBIN.NS SUNPHARMA.NS     TCS.NS   TECHM.NS
Date
1996-01-01   48051995.0  43733533.0      38730.0        NaN        NaN
1996-01-02   77875009.0  56167280.0      77460.0        NaN        NaN
1996-01-03   96602936.0  68296318.0      12910.0        NaN        NaN
1996-01-04  100099436.0  86073880.0      64550.0        NaN        NaN
1996-01-05   76935930.0  76613039.0      12910.0        NaN        NaN
...                 ...         ...          ...        ...        ...
2021-03-01    8159670.0  29677890.0    5274758.0  3265871.0  3429569.0
2021-03-02    7915073.0  30534337.0    4776776.0  3306469.0  3703190.0
2021-03-03   14733134.0  46268223.0    6626297.0  3509857.0  3203532.0
2021-03-04    9892597.0  43603653.0   11530735.0  3916760.0  5134954.0
2021-03-05   11773630.0  72179228.0    6127488.0  3203686.0  2618145.0


             TITAN.NS ULTRACEMCO.NS
Date
1996-01-01     4000.0           NaN
1996-01-02    24000.0           NaN
1996-01-03    22000.0           NaN
1996-01-04    46000.0           NaN
1996-01-05    20000.0           NaN
...               ...           ...
2021-03-01  1962042.0      609302.0
2021-03-02  1293306.0      438046.0
2021-03-03  1227772.0      467421.0
2021-03-04  1822476.0     1303144.0
2021-03-05  1954113.0     1828811.0

[6335 rows x 180 columns]

In [23]:
gfg_csv_data = df.to_csv('stockdatanifty.csv', index = True)