In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('stockdata.csv')
df

C:\Users\hrish\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Adj Close.3,Adj Close.4,Adj Close.5,Adj Close.6,Adj Close.7,Adj Close.8,...,Volume.20,Volume.21,Volume.22,Volume.23,Volume.24,Volume.25,Volume.26,Volume.27,Volume.28,Volume.29
0,NaN,ASIANPAINT.NS,AXISBANK.NS,BAJAJ-AUTO.NS,BAJAJFINSV.NS,BAJFINANCE.NS,BHARTIARTL.NS,DRREDDY.NS,HCLTECH.NS,HDFC.NS,...,NTPC.NS,ONGC.NS,POWERGRID.NS,RELIANCE.NS,SBIN.NS,SUNPHARMA.NS,TCS.NS,TECHM.NS,TITAN.NS,ULTRACEMCO.NS
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1996-01-01,NaN,NaN,NaN,NaN,NaN,NaN,49.02257537841797,NaN,NaN,...,NaN,10800.0,NaN,48051995.0,43733533.0,38730.0,NaN,NaN,4000.0,NaN
3,1996-01-02,NaN,NaN,NaN,NaN,NaN,NaN,48.60489273071289,NaN,NaN,...,NaN,27000.0,NaN,77875009.0,56167280.0,77460.0,NaN,NaN,24000.0,NaN
4,1996-01-03,NaN,NaN,NaN,NaN,NaN,NaN,48.62687683105469,NaN,NaN,...,NaN,10800.0,NaN,96602936.0,68296318.0,12910.0,NaN,NaN,22000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6330,2021-02-25,2373.75,770.650024,3944.800049,10264.450195,5529.950195,579.150024,4480.149902,929.25,2684.699951,...,68361756.0,62038881.0,17266549.0,16085897.0,46988836.0,6261754.0,4224073.0,3682791.0,1967386.0,803072.0
6331,2021-02-26,2277.199951,724.799988,3798.699951,9648.599609,5264.899902,556.299988,4426.549805,909.450012,2539.399902,...,67331805.0,55154985.0,21414774.0,17297575.0,64450414.0,15404415.0,5553153.0,5254937.0,2715597.0,1307673.0
6332,2021-03-01,2362.300049,728.549988,3814.050049,9774.049805,5266.799805,532.200012,4453.399902,930.349976,2606.0,...,27205189.0,41672980.0,17686096.0,8159670.0,29677890.0,5274758.0,3265871.0,3429569.0,1962042.0,609302.0
6333,2021-03-02,2390.399902,731.25,3944.050049,9877.0,5316.299805,541.200012,4404.700195,953.75,2564.0,...,53649872.0,36303917.0,10250883.0,7915073.0,30534337.0,4776776.0,3306469.0,3703190.0,1293306.0,438046.0
6334,2021-03-03,2404.5,753.900024,3900.050049,10382.0,5528.899902,545.599976,4497.850098,965.900024,2657.699951,...,28192487.0,17042757.0,10059580.0,11454823.0,42893113.0,5934265.0,3172593.0,2972717.0,1124391.0,420043.0

In [3]:
df = df[2:]
df

,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Adj Close.3,Adj Close.4,Adj Close.5,Adj Close.6,Adj Close.7,Adj Close.8,...,Volume.20,Volume.21,Volume.22,Volume.23,Volume.24,Volume.25,Volume.26,Volume.27,Volume.28,Volume.29
2,1996-01-01,NaN,NaN,NaN,NaN,NaN,NaN,49.02257537841797,NaN,NaN,...,NaN,10800.0,NaN,48051995.0,43733533.0,38730.0,NaN,NaN,4000.0,NaN
3,1996-01-02,NaN,NaN,NaN,NaN,NaN,NaN,48.60489273071289,NaN,NaN,...,NaN,27000.0,NaN,77875009.0,56167280.0,77460.0,NaN,NaN,24000.0,NaN
4,1996-01-03,NaN,NaN,NaN,NaN,NaN,NaN,48.62687683105469,NaN,NaN,...,NaN,10800.0,NaN,96602936.0,68296318.0,12910.0,NaN,NaN,22000.0,NaN
5,1996-01-04,NaN,NaN,NaN,NaN,NaN,NaN,46.879207611083984,NaN,NaN,...,NaN,41400.0,NaN,100099436.0,86073880.0,64550.0,NaN,NaN,46000.0,NaN
6,1996-01-05,NaN,NaN,NaN,NaN,NaN,NaN,45.76905822753906,NaN,NaN,...,NaN,46800.0,NaN,76935930.0,76613039.0,12910.0,NaN,NaN,20000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6330,2021-02-25,2373.75,770.650024,3944.800049,10264.450195,5529.950195,579.150024,4480.149902,929.25,2684.699951,...,68361756.0,62038881.0,17266549.0,16085897.0,46988836.0,6261754.0,4224073.0,3682791.0,1967386.0,803072.0
6331,2021-02-26,2277.199951,724.799988,3798.699951,9648.599609,5264.899902,556.299988,4426.549805,909.450012,2539.399902,...,67331805.0,55154985.0,21414774.0,17297575.0,64450414.0,15404415.0,5553153.0,5254937.0,2715597.0,1307673.0
6332,2021-03-01,2362.300049,728.549988,3814.050049,9774.049805,5266.799805,532.200012,4453.399902,930.349976,2606.0,...,27205189.0,41672980.0,17686096.0,8159670.0,29677890.0,5274758.0,3265871.0,3429569.0,1962042.0,609302.0
6333,2021-03-02,2390.399902,731.25,3944.050049,9877.0,5316.299805,541.200012,4404.700195,953.75,2564.0,...,53649872.0,36303917.0,10250883.0,7915073.0,30534337.0,4776776.0,3306469.0,3703190.0,1293306.0,438046.0
6334,2021-03-03,2404.5,753.900024,3900.050049,10382.0,5528.899902,545.599976,4497.850098,965.900024,2657.699951,...,28192487.0,17042757.0,10059580.0,11454823.0,42893113.0,5934265.0,3172593.0,2972717.0,1124391.0,420043.0

In [7]:
close_data = df['Close.6'].astype('float64')
close_data

2         55.750000
3         55.275002
4         55.299999
5         53.312500
6         52.049999
           ...
6330    4480.149902
6331    4426.549805
6332    4453.399902
6333    4404.700195
6334    4497.850098
Name: Close.6, Length: 6333, dtype: float64